.Header_cadastro{
    background-color: #f3e5e4;
    padding: 38.5px 100px;
    height: 100px;
    
}

.imagem_header_cadastro{
    top: 21.8px;
    position: relative;
    left: 5px;
    margin-bottom: 0px;
    width: 22.5%;
}

.background_header{
    background-color: #ec5a5a;
    width: 100%;
    height: 60px;
}

.home_cadastro{
    top: 201px;
    left: 59px;
    position: absolute;
    background-color:#f3e5e4 ;
    padding: 3.5px 45px;
    border-radius: 10px;
    height: 20px;
    font-size: 12px;
    
}

.home_cadastro:hover {

    border-radius: 10px;
  
    background: #d6d3d3;
  
    color: #000000;
  
    border-radius: 10px;
  
    transition: 0.5s;
    
}

.home_cadastro:not(:hover) {

    border-radius: 10px;
  
    background: #f3e5e4;
  
    color: #000000;
  
    border-radius: 10px;
  
    transition: 1s;
}


.home_cadastro ul{
    list-style: none;
    color: black;
    
}

.home_cadastro li{
    color: black;
}

.home_cadastro a{
    top: 6px;
    left: 15px;
    position: absolute;
    text-decoration: none;
    color: black;
}

.btn_fac{
    position: absolute;
    top: 200px;
    right: 62px;
    padding: 6px 10px;
    background-color:#f3e5e4 ;
    border-radius: 10px;
    border: none;
    font-size: 12px;
    cursor: pointer;
    text-decoration: none;
}

.btn_fac:hover {

    border-radius: 10px;
  
    background: #d6d3d3;
  
    color: #000000;
  
    border-radius: 10px;
  
    transition: 0.5s;
    
}

.btn_fac:not(:hover) {

    border-radius: 10px;
  
    background: #f3e5e4;
  
    color: #000000;
  
    border-radius: 10px;
  
    transition: 1s;
}

.nav_fac li{
    list-style:none;
    
}

/* Formulario log in */

.form_log_in{
    top: 350px;
    left: 537px;
    position: absolute;
    background-color: #ec5a5a;
    padding: 200px 200px;
    

}

.form_itens{
    position: absolute;
    left: 110px;
    top: 100px;
}

.nome_login{
    margin-bottom: 5px;
    background-color:#f3e5e44f ;
    padding: 0px 9px;
    margin-right: 180px;
    position: relative;
    border-radius: 10px;
}

.nome_senha{
    margin-bottom: 5px;
    margin-top: 15px;
    background-color:#f3e5e44f ;
    padding: 0px 9px;
    margin-right: 180px;
    position: relative;
    border-radius: 10px;
}

.btn_enviar{
    position: absolute;
    top: 200px;
    padding: 8px 10px;
    left: -20px;
    background-color: #f3e5e4;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.btn_enviar:hover {

    border-radius: 10px;
  
    background: #d6d3d3;
  
    color: #000000;
  
    border-radius: 10px;
  
    transition: 0.5s;
    
}

.btn_enviar:not(:hover) {

    border-radius: 10px;
  

  
    color: #000000;
  
    border-radius: 10px;
  
    transition: 1s;
}

.fgt_senha{
    position: absolute;
    background-color: transparent;
    border: none;
    top: 210px;
    left: 100px;
    font-size: 11px;
    cursor: pointer;
    
}

.fgt_senha:hover {
    
    border-radius: 10px;
  
    text-decoration: underline;
  
    color: #000000;
  
    border-radius: 10px;
  
    transition: 0.5s;
    
}

.fgt_senha:not(:hover) {

    border-radius: 10px;
  

  
    color: #000000;
  
    border-radius: 10px;
  
    transition: 1s;
}


.nome_box_login{
    position: absolute;
    top: 30px;
    margin-left: 45px;
    font-size: 25px;
}

.barra_quase_transparente{
    position: absolute;
    border-left: 2px solid #3b383865; /* Barra quase transparente */
    height: 620px; /* Ajuste a altura conforme necessário */
    margin-left: 930px; /* Ajuste o espaçamento conforme necessário */
    margin-right: 5px; /* Ajuste o espaçamento conforme necessário */
    margin-top: 50px;
    width: 30px;
    
}

/* formulario cadastro */

.form_cadastro{
    top: 350px;
    left: 941px;
    position: absolute;
    background-color: #ec5a5a;
    padding: 250px 200px;

}

.form_tens_cadastro{
    position: absolute;
    left: 110px;
    top: 100px;
}

.nome_box_cadastro{
    position: absolute;
    top: 30px;
    margin-bottom: 5px;
    font-size: 25px;
    left: 130px;
}

.nome_cadastro{
    margin-bottom: 5px;
    background-color:#f3e5e44f ;
    padding: 0px 9px;
    margin-right: 180px;
    position: relative;
    border-radius: 10px;
}

.email_cadastro{
    margin-bottom: 5px;
    margin-top: 15px;
    background-color:#f3e5e44f ;
    padding: 0px 9px;
    margin-right: 180px;
    position: relative;
    border-radius: 10px;
}

.nome_senha_cadastro{
    margin-bottom: 5px;
    margin-top: 15px;
    background-color:#f3e5e44f ;
    padding: 0px 9px;
    margin-right: 180px;
    position: relative;
    border-radius: 10px;
}

.nome_confirma_senha_cadastro{
    margin-bottom: 5px;
    margin-top: 15px;
    background-color:#f3e5e44f ;
    padding: 0px 9px;
    margin-right: 120px;
    position: relative;
    border-radius: 10px;
}

.btn_enviar_cadastro{
    position: absolute;
    top: 315px;
    padding: 8px 10px;
    left: -10px;
    background-color: #f3e5e4;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.btn_enviar_cadastro:hover {

    border-radius: 10px;
  
    background: #d6d3d3;
  
    color: #000000;
  
    border-radius: 10px;
  
    transition: 0.5s;
    
}

.btn_enviar_cadastro:not(:hover) {

    border-radius: 10px;
  

  
    color: #000000;
  
    border-radius: 10px;
  
    transition: 1s;
}

.fgt_senha_cadastro{
    position: absolute;
    background-color: transparent;
    border: none;
    top: 328px;
    left: 110px;
    font-size: 11px;
    cursor: pointer;
}

.fgt_senha_cadastro:hover {
    
    border-radius: 10px;
  
    text-decoration: underline;
  
    color: #000000;
  
    border-radius: 10px;
  
    transition: 0.5s;
    
}

.fgt_senha_cadastro:not(:hover) {

    border-radius: 10px;
  

  
    color: #000000;
  
    border-radius: 10px;
  
    transition: 1s;
}



.nome_box_login{
    position: absolute;
        top: 30px;
        left: 115px;
        font-size: 25px;
}

.footer{
    position: absolute;
    background-color:#ec5a5a ;
    width: 100%;
    height: 70px;
    top: 1000px;
}

@media screen and (max-width: 1366px){

    .body{
        margin: 0;
    }
    
    .Header_cadastro{
        background-color: #f3e5e4;
        padding: 32px 100px;
        height: 100px;
        
    }

    .imagem_header_cadastro{
        top: 28px;
        position: relative;
        left: 5px;
        margin-bottom: 0px;
        width: 23.5%;
    }

    .home_cadastro{
        top: 188px;
        left: 67px;
        position: absolute;
        background-color:#f3e5e4 ;
        padding: 3.5px 45px;
        border-radius: 10px;
        height: 20px;
        font-size: 12px;
    }

    .btn_fac{
        position: absolute;
        top: 187px;
        right: 62px;
        padding: 6px 10px;
        background-color:#f3e5e4 ;
        border-radius: 10px;
        border: none;
        font-size: 12px;
        cursor: pointer;
        text-decoration: none;
    }
    
    .btn_fac:hover {
    
        border-radius: 10px;
      
        background: #d6d3d3;
      
        color: #000000;
      
        border-radius: 10px;
      
        transition: 0.5s;
        
    }
    
    .btn_fac:not(:hover) {
    
        border-radius: 10px;
      
        background: #f3e5e4;
      
        color: #000000;
      
        border-radius: 10px;
      
        transition: 1s;
    }
    
    .nav_fac li{
        list-style:none;
        
    }

    .form_log_in{
        top: 350px;
        left: 337px;
        position: absolute;
        background-color: #ec5a5a;
        padding: 200px 200px;
        
    
    }
    
    .form_itens{
        position: absolute;
        left: 110px;
        top: 100px;
    }
    
    .nome_login{
        margin-bottom: 5px;
        background-color:#f3e5e44f ;
        padding: 0px 9px;
        margin-right: 180px;
        position: relative;
        border-radius: 10px;
    }
    
    .nome_senha{
        margin-bottom: 5px;
        margin-top: 15px;
        background-color:#f3e5e44f ;
        padding: 0px 9px;
        margin-right: 180px;
        position: relative;
        border-radius: 10px;
    }
    
    .btn_enviar{
        position: absolute;
        top: 200px;
        padding: 8px 10px;
        left: -20px;
        background-color: #f3e5e4;
        border: none;
        border-radius: 10px;
        cursor: pointer;
    }
    
    .btn_enviar:hover {
    
        border-radius: 10px;
      
        background: #d6d3d3;
      
        color: #000000;
      
        border-radius: 10px;
      
        transition: 0.5s;
        
    }
    
    .btn_enviar:not(:hover) {
    
        border-radius: 10px;
      
    
      
        color: #000000;
      
        border-radius: 10px;
      
        transition: 1s;
    }
    
    .fgt_senha{
        position: absolute;
        background-color: transparent;
        border: none;
        top: 210px;
        left: 100px;
        font-size: 11px;
        cursor: pointer;
        
    }

    .fgt_senha:hover {
    
        border-radius: 10px;
      
        text-decoration: underline;
      
        color: #000000;
      
        border-radius: 10px;
      
        transition: 0.5s;
        
    }
    
    .fgt_senha:not(:hover) {
    
        border-radius: 10px;
      
    
      
        color: #000000;
      
        border-radius: 10px;
      
        transition: 1s;
    }
    
    
    .nome_box_login{
        position: absolute;
        top: 30px;
        margin-left: 45px;
        font-size: 25px;
    }
    
    .barra_quase_transparente{
        position: absolute;
        border-left: 2px solid #3b383865; /* Barra quase transparente */
        height: 620px; /* Ajuste a altura conforme necessário */
        margin-left: 730px; /* Ajuste o espaçamento conforme necessário */
        margin-right: 5px; /* Ajuste o espaçamento conforme necessário */
        margin-top: 50px;
        width: 30px;
        
    }
    
    /* formulario cadastro */
    
    .form_cadastro{
        top: 350px;
        left: 741px;
        position: absolute;
        background-color: #ec5a5a;
        padding: 250px 200px;
    
    }
    
    .form_tens_cadastro{
        position: absolute;
        left: 110px;
        top: 100px;
    }
    
    .nome_box_cadastro{
        position: absolute;
        top: 30px;
        margin-bottom: 5px;
        font-size: 25px;
        left: 130px;
    }
    
    .nome_cadastro{
        margin-bottom: 5px;
        background-color:#f3e5e44f ;
        padding: 0px 9px;
        margin-right: 180px;
        position: relative;
        border-radius: 10px;
    }
    
    .email_cadastro{
        margin-bottom: 5px;
        margin-top: 15px;
        background-color:#f3e5e44f ;
        padding: 0px 9px;
        margin-right: 180px;
        position: relative;
        border-radius: 10px;
    }
    
    .nome_senha_cadastro{
        margin-bottom: 5px;
        margin-top: 15px;
        background-color:#f3e5e44f ;
        padding: 0px 9px;
        margin-right: 180px;
        position: relative;
        border-radius: 10px;
    }
    
    .nome_confirma_senha_cadastro{
        margin-bottom: 5px;
        margin-top: 15px;
        background-color:#f3e5e44f ;
        padding: 0px 9px;
        margin-right: 120px;
        position: relative;
        border-radius: 10px;
    }
    
    .btn_enviar_cadastro{
        position: absolute;
        top: 315px;
        padding: 8px 10px;
        left: -10px;
        background-color: #f3e5e4;
        border: none;
        border-radius: 10px;
        cursor: pointer;
    }
    
    .btn_enviar_cadastro:hover {
    
        border-radius: 10px;
      
        background: #d6d3d3;
      
        color: #000000;
      
        border-radius: 10px;
      
        transition: 0.5s;
        
    }
    
    .btn_enviar_cadastro:not(:hover) {
    
        border-radius: 10px;
      
    
      
        color: #000000;
      
        border-radius: 10px;
      
        transition: 1s;
    }
    
    .fgt_senha_cadastro{
        position: absolute;
        background-color: transparent;
        border: none;
        top: 328px;
        left: 110px;
        font-size: 11px;
        cursor: pointer;
    }

    .fgt_senha_cadastro:hover {
    
        border-radius: 10px;
      
        text-decoration: underline;
      
        color: #000000;
      
        border-radius: 10px;
      
        transition: 0.5s;
        
    }
    
    .fgt_senha_cadastro:not(:hover) {
    
        border-radius: 10px;
      
    
      
        color: #000000;
      
        border-radius: 10px;
      
        transition: 1s;
    }
    
    
    .nome_box_login{
        position: absolute;
            top: 30px;
            left: 125px;
            font-size: 25px;
    }
}
