.mensagem_preencha_campos {
    position: absolute;
    top: 250px;
    display: inline-block;
    margin-left: 10px;
    padding: 5px 10px;
    color: #000000;
    border-radius: 5px;
    font-size: 14px;
    left: -30px;
}

.mensagem_preencha_campos:active {
    background-color: #ffffff;
}

.mensagem_preencha_campos_login {
    position: absolute;
    top: 140px;
    display: inline-block;
    margin-left: 10px;
    padding: 5px 10px;
    color: #000000;
    border-radius: 5px;
    font-size: 14px;
    left: -435px;
}

.mensagem_preencha_campos_login:active {
    background-color: #ffffff;
}

.mensagem_senha {
    position: absolute;
    top: 250px;
    display: inline-block;
    margin-left: 10px;
    padding: 5px 10px;
    color: #000000;
    border-radius: 5px;
    font-size: 14px;
    left: 0px;
}

.mensagem_senha:active {
    background-color: #ffffff;
}

.body{
    margin: 0;
}

.Header_cadastro{
    background-color: #f3e5e4;
    width: 100%;
    height: 190px;
    
}

.imagem_header_cadastro{
    top: 68px;
    position: absolute;
    left: 113px;
    margin-bottom: 0px;
    width: 19.5%;
}

.background_header{
    position: absolute;
    top: 185px;
    background-color: #ec5a5a;
    width: 100%;
    height: 60px;
}

.home_cadastro{
    top: 16px;
    left: 51px;
    position: absolute;
    background-color:#f3e5e4 ;
    padding: 3.5px 45px;
    border-radius: 10px;
    height: 20px;
    font-size: 12px;
    
}

.home_cadastro:hover {

    border-radius: 10px;
  
    background: #d6d3d3;
  
    color: #000000;
  
    border-radius: 10px;
  
    transition: 0.5s;
    
}

.home_cadastro:not(:hover) {

    border-radius: 10px;
  
    background: #f3e5e4;
  
    color: #000000;
  
    border-radius: 10px;
  
    transition: 1s;
}


.home_cadastro ul{
    list-style: none;
    color: black;
    
}

.home_cadastro li{
    color: black;
}

.home_cadastro a{
    top: 5px;
    left: 15px;
    position: absolute;
    text-decoration: none;
    color: black;
}

.btn_menu_header{
    border: none;
    border-radius: 50px;
    padding: 3px 3px 3px 3px;
    top: 81px;
    position: absolute;
    
    font-size: 28px;
    right: 180px;

}

.btn_menu_header:hover {

    border-radius: 10px;
  
    background: #ff0d00;
  
    color: #000000;
  
    border-radius: 10px;
  
    transition: 0.5s;
    
}

.btn_menu_header:not(:hover) {

    border-radius: 10px;
  

  
    color: #000000;
  
    border-radius: 10px;
  
    transition: 1s;
}

.btn_menu_header2{
    border: none;
    border-radius: 50px ;
    padding: 3px 3px 3px 3px;
    top: 81px;
    position: absolute;
    right: 10px;
    font-size: 30px;
    right: 100px;
}

.btn_menu_header2:hover {

    padding: 3px 3px 3px 3px;

    border-radius: 10px;
  
    background: #ff0d00;
  
    color: #000000;
  
    border-radius: 10px;
  
    transition: 0.5s;
    
}

.btn_menu_header2:not(:hover) {

    border-radius: 10px;
  

  
    color: #000000;
  
    border-radius: 10px;
  
    transition: 1s;
}

.btn_fac{
    position: absolute;
    top: 200px;
    right: 62px;
    padding: 6px 10px;
    background-color:#f3e5e4 ;
    border-radius: 10px;
    border: none;
    font-size: 12px;
    cursor: pointer;
    text-decoration: none;
}

.btn_fac:hover {

    border-radius: 10px;
  
    background: #d6d3d3;
  
    color: #000000;
  
    border-radius: 10px;
  
    transition: 0.5s;
    
}

.btn_fac:not(:hover) {

    border-radius: 10px;
  
    background: #f3e5e4;
  
    color: #000000;
  
    border-radius: 10px;
  
    transition: 1s;
}

.nav_fac li{
    list-style:none;
    
}

.input_nomes{
    border: 1px solid black;
}

input:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
}





.form_log_in input[type="text"]:focus{
    border-radius: 0px;
    border: 1px solid black;
}

.toggleSenha{
    position: absolute;
    left: 150px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
    background-color: transparent;
    top: 80px;
    cursor: pointer;
    font-size: 13px;
    height: 20px;
}

.toggleSenha:hover {
    border-top-left-radius: 5px;

    border-bottom-left-radius: 5px;
  
    text-decoration: underline;
  
    color: #000000;

    background-color: #ff0d00;
  
    cursor: pointer;
  
    transition: 0.2s;
    
}

/* Estilize a borda do input normalmente */
.confirma_senha input[type="password"] {
    border:1px solid #000000;
}

#senhaCadastroLogin{
    border: 1px solid;
}


.toggleSenha1{
    position: absolute;
    left: 150px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
    background-color: transparent;
    top: 137px;
    height: 20px;
    cursor: pointer;
}

.toggleSenha1:hover {
    
    border-top-left-radius: 5px;

    border-bottom-left-radius: 5px;
  
    text-decoration: underline;
  
    color: #000000;

    background-color: #ff0d00;
  

  
    transition: 0.2s;
    
}

#senhaCadastroLogin2{
    border: 1px solid;
}

.toggleSenha2{
    position: absolute;
    left: 150px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
    background-color: transparent;
    top: 194px;
    height: 20px;
    cursor: pointer;
}

.toggleSenha2:hover {
    
    border-top-left-radius: 5px;

    border-bottom-left-radius: 5px;
  
    text-decoration: underline;
  
    color: #000000;

    background-color: #ff0d00;
  

  
    transition: 0.2s;
    
}

#senhaCadastroLogin3{
    border: 1px solid;
}

/* Formulario log in */

.form_log_in{
    top: 350px;
    left: 537px;
    position: absolute;
    background-color: #ec5a5a;
    padding: 200px 200px;
    

}

.form_itens{
    position: absolute;
    left: 110px;
    top: 100px;
}

.nome_login{
    margin-bottom: 5px;
    background-color:#f3e5e44f ;
    padding: 0px 9px;
    margin-right: 180px;
    position: relative;
    border-radius: 10px;
}

.nome_senha{
    margin-bottom: 5px;
    margin-top: 15px;
    background-color:#f3e5e44f ;
    padding: 0px 9px;
    margin-right: 180px;
    position: relative;
    border-radius: 10px;
}

.btn_enviar{
    position: absolute;
    top: 200px;
    padding: 8px 10px;
    left: -20px;
    background-color: #f3e5e4;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.btn_enviar:hover {

    border-radius: 10px;
  
    background: #d6d3d3;
  
    color: #000000;
  
    border-radius: 10px;
  
    transition: 0.5s;
    
}

.btn_enviar:not(:hover) {

    border-radius: 10px;
  

  
    color: #000000;
  
    border-radius: 10px;
  
    transition: 1s;
}

.fgt_senha{
    position: absolute;
    background-color: transparent;
    border: none;
    top: 210px;
    left: 100px;
    font-size: 11px;
    cursor: pointer;
    
}

.fgt_senha:hover {
    
    border-radius: 10px;
  
    text-decoration: underline;
  
    color: #000000;
  
    border-radius: 10px;
  
    transition: 0.5s;
    
}

.fgt_senha:not(:hover) {

    border-radius: 10px;
  

  
    color: #000000;
  
    border-radius: 10px;
  
    transition: 1s;
}


.nome_box_login{
    position: absolute;
    top: 30px;
    margin-left: 45px;
    font-size: 25px;
}

.barra_quase_transparente{
    position: absolute;
    border-left: 2px solid #3b383865; /* Barra quase transparente */
    height: 620px; /* Ajuste a altura conforme necessário */
    left: 938px; /* Ajuste o espaçamento conforme necessário */
    right: 5px; /* Ajuste o espaçamento conforme necessário */
    top: 290px;
    width: 30px;
    
}

/* formulario cadastro */

.form_cadastro{
    top: 350px;
    left: 941px;
    position: absolute;
    background-color: #ec5a5a;
    padding: 250px 200px;

}

.form_tens_cadastro{
    position: absolute;
    left: 110px;
    top: 100px;
}

.nome_box_cadastro{
    position: absolute;
    top: 30px;
    margin-bottom: 5px;
    font-size: 25px;
    left: 130px;
}

.nome_cadastro{
    margin-bottom: 5px;
    background-color:#f3e5e44f ;
    padding: 0px 9px;
    margin-right: 180px;
    position: relative;
    border-radius: 10px;
}

.email_cadastro{
    margin-bottom: 5px;
    margin-top: 15px;
    background-color:#f3e5e44f ;
    padding: 0px 9px;
    margin-right: 180px;
    position: relative;
    border-radius: 10px;
}

.nome_senha_cadastro{
    margin-bottom: 5px;
    margin-top: 15px;
    background-color:#f3e5e44f ;
    padding: 0px 9px;
    margin-right: 180px;
    position: relative;
    border-radius: 10px;
}

.nome_confirma_senha_cadastro{
    margin-bottom: 5px;
    margin-top: 15px;
    background-color:#f3e5e44f ;
    padding: 0px 9px;
    margin-right: 120px;
    position: relative;
    border-radius: 10px;
}

.btn_enviar_cadastro{
    position: absolute;
    top: 315px;
    padding: 8px 10px;
    left: 50px;
    background-color: #f3e5e4;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.btn_enviar_cadastro:hover {

    border-radius: 10px;
  
    background: #d6d3d3;
  
    color: #000000;
  
    border-radius: 10px;
  
    transition: 0.5s;
    
}

.btn_enviar_cadastro:not(:hover) {

    border-radius: 10px;
  

  
    color: #000000;
  
    border-radius: 10px;
  
    transition: 1s;
}

.fgt_senha_cadastro{
    position: absolute;
    background-color: transparent;
    border: none;
    top: 328px;
    left: 110px;
    font-size: 11px;
    cursor: pointer;
}

.fgt_senha_cadastro:hover {
    
    border-radius: 10px;
  
    text-decoration: underline;
  
    color: #000000;
  
    border-radius: 10px;
  
    transition: 0.5s;
    
}

.fgt_senha_cadastro:not(:hover) {

    border-radius: 10px;
  

  
    color: #000000;
  
    border-radius: 10px;
  
    transition: 1s;
}



.nome_box_login{
    position: absolute;
        top: 30px;
        left: 115px;
        font-size: 25px;
}

.footer{
    position: absolute;
    background-color:#ec5a5a ;
    width: 100%;
    height: 70px;
    top: 1000px;
}

@media screen and (max-width: 1366px){

    .body{
        margin: 0;
    }
    
    .Header_cadastro{
        position: absolute;
        top: 0px;
        background-color: #f3e5e4;
        height: 190px;
        width: 100%;
        
    }
    
    .imagem_header_cadastro{
        top: 68px;
        position: absolute;
        left: 113px;
        margin-bottom: 0px;
        width: 19.5%;
    }
    
    .background_header{
        background-color: #ec5a5a;
        position: absolute;
        top: 185px;
        height: 60px;
        width: 100%;
    }

    .home_cadastro{
        top: 18px;
        left: 60px;
        position: absolute;
        background-color:#f3e5e4 ;
        padding: 3.5px 45px;
        border-radius: 10px;
        height: 20px;
        font-size: 12px;
        
    }
    
    .home_cadastro:hover {
    
        border-radius: 10px;
      
        background: #d6d3d3;
      
        color: #000000;
      
        border-radius: 10px;
      
        transition: 0.5s;
        
    }
    
    .home_cadastro:not(:hover) {
    
        border-radius: 10px;
      
        background: #f3e5e4;
      
        color: #000000;
      
        border-radius: 10px;
      
        transition: 1s;
    }
    
    
    .home_cadastro ul{
        list-style: none;
        color: black;
        
    }
    
    .home_cadastro li{
        color: black;
    }
    
    .home_cadastro a{
        top: 5px;
        left: 15px;
        position: absolute;
        text-decoration: none;
        color: black;
    }


    .btn_fac{
        position: absolute;
        top: 200px;
        right: 62px;
        padding: 6px 10px;
        background-color:#f3e5e4 ;
        border-radius: 10px;
        border: none;
        font-size: 12px;
        cursor: pointer;
        text-decoration: none;
    }
    
    .btn_fac:hover {
    
        border-radius: 10px;
      
        background: #d6d3d3;
      
        color: #000000;
      
        border-radius: 10px;
      
        transition: 0.5s;
        
    }
    
    .btn_fac:not(:hover) {
    
        border-radius: 10px;
      
        background: #f3e5e4;
      
        color: #000000;
      
        border-radius: 10px;
      
        transition: 1s;
    }
    
    .nav_fac li{
        list-style:none;
        
    }
    

    .form_log_in{
        top: 350px;
        left: 337px;
        position: absolute;
        background-color: #ec5a5a;
        padding: 200px 200px;
        
    
    }
    
    .form_itens{
        position: absolute;
        left: 110px;
        top: 100px;
    }
    
    .nome_login{
        margin-bottom: 5px;
        background-color:#f3e5e44f ;
        padding: 0px 9px;
        margin-right: 180px;
        position: relative;
        border-radius: 10px;
    }
    
    .nome_senha{
        margin-bottom: 5px;
        margin-top: 15px;
        background-color:#f3e5e44f ;
        padding: 0px 9px;
        margin-right: 180px;
        position: relative;
        border-radius: 10px;
    }
    
    .btn_enviar{
        position: absolute;
        top: 200px;
        padding: 8px 10px;
        left: -20px;
        background-color: #f3e5e4;
        border: none;
        border-radius: 10px;
        cursor: pointer;
    }
    
    .btn_enviar:hover {
    
        border-radius: 10px;
      
        background: #d6d3d3;
      
        color: #000000;
      
        border-radius: 10px;
      
        transition: 0.5s;
        
    }
    
    .btn_enviar:not(:hover) {
    
        border-radius: 10px;
      
    
      
        color: #000000;
      
        border-radius: 10px;
      
        transition: 1s;
    }
    
    .fgt_senha{
        position: absolute;
        background-color: transparent;
        border: none;
        top: 210px;
        left: 100px;
        font-size: 11px;
        cursor: pointer;
        
    }

    .fgt_senha:hover {
    
        border-radius: 10px;
      
        text-decoration: underline;
      
        color: #000000;
      
        border-radius: 10px;
      
        transition: 0.5s;
        
    }
    
    .fgt_senha:not(:hover) {
    
        border-radius: 10px;
      
    
      
        color: #000000;
      
        border-radius: 10px;
      
        transition: 1s;
    }
    
    
    .nome_box_login{
        position: absolute;
        top: 30px;
        margin-left: 45px;
        font-size: 25px;
    }
    
    .barra_quase_transparente{
        position: absolute;
        border-left: 2px solid #3b383865; /* Barra quase transparente */
        height: 620px; /* Ajuste a altura conforme necessário */
        left: 738px; /* Ajuste o espaçamento conforme necessário */
        top: 290px;
        width: 30px;
        
    }
    
    /* formulario cadastro */
    
    .form_cadastro{
        top: 350px;
        left: 741px;
        position: absolute;
        background-color: #ec5a5a;
        padding: 250px 200px;
    
    }
    
    .form_tens_cadastro{
        position: absolute;
        left: 110px;
        top: 100px;
    }
    
    .nome_box_cadastro{
        position: absolute;
        top: 30px;
        margin-bottom: 5px;
        font-size: 25px;
        left: 130px;
    }
    
    .nome_cadastro{
        margin-bottom: 5px;
        background-color:#f3e5e44f ;
        padding: 0px 9px;
        margin-right: 180px;
        position: relative;
        border-radius: 10px;
    }
    
    .email_cadastro{
        margin-bottom: 5px;
        margin-top: 15px;
        background-color:#f3e5e44f ;
        padding: 0px 9px;
        margin-right: 180px;
        position: relative;
        border-radius: 10px;
    }
    
    .nome_senha_cadastro{
        margin-bottom: 5px;
        margin-top: 15px;
        background-color:#f3e5e44f ;
        padding: 0px 9px;
        margin-right: 180px;
        position: relative;
        border-radius: 10px;
    }
    
    .nome_confirma_senha_cadastro{
        margin-bottom: 5px;
        margin-top: 15px;
        background-color:#f3e5e44f ;
        padding: 0px 9px;
        margin-right: 120px;
        position: relative;
        border-radius: 10px;
    }
    
    .btn_enviar_cadastro{
        position: absolute;
        top: 315px;
        padding: 8px 10px;
        left: 50px;
        background-color: #f3e5e4;
        border: none;
        border-radius: 10px;
        cursor: pointer;
    }
    
    .btn_enviar_cadastro:hover {
    
        border-radius: 10px;
      
        background: #d6d3d3;
      
        color: #000000;
      
        border-radius: 10px;
      
        transition: 0.5s;
        
    }
    
    .btn_enviar_cadastro:not(:hover) {
    
        border-radius: 10px;
      
    
      
        color: #000000;
      
        border-radius: 10px;
      
        transition: 1s;
    }
    
    .fgt_senha_cadastro{
        position: absolute;
        background-color: transparent;
        border: none;
        top: 328px;
        left: 110px;
        font-size: 11px;
        cursor: pointer;
    }

    .fgt_senha_cadastro:hover {
    
        border-radius: 10px;
      
        text-decoration: underline;
      
        color: #000000;
      
        border-radius: 10px;
      
        transition: 0.5s;
        
    }
    
    .fgt_senha_cadastro:not(:hover) {
    
        border-radius: 10px;
      
    
      
        color: #000000;
      
        border-radius: 10px;
      
        transition: 1s;
    }
    
    
    .nome_box_login{
        position: absolute;
            top: 30px;
            left: 125px;
            font-size: 25px;
    }

        .input_nomes{
        border: 1px solid black;
    }
    
    input:focus{
        box-shadow: 0 0 0 0;
        outline: 0;
    }
    
    
    
    
    
    .form_log_in input[type="text"]:focus{
        border-radius: 0px;
        border: 1px solid black;
    }
    
    .toggleSenha{
        position: absolute;
        left: 149px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border: none;
        background-color: transparent;
        top: 86px;
        cursor: pointer;
        font-size: 13px;
        height: 20px;
    }
    
    .toggleSenha:hover {
        border-top-left-radius: 5px;
    
        border-bottom-left-radius: 5px;
      
        text-decoration: underline;
      
        color: #000000;
    
        background-color: #ff0d00;
      
        cursor: pointer;
      
        transition: 0.2s;
        
    }
    
    /* Estilize a borda do input normalmente */
    .confirma_senha input[type="password"] {
        border:1px solid #000000;
    }
    
    #senhaCadastroLogin{
        border: 1px solid;
    }
    
    
    .toggleSenha1{
        position: absolute;
        left: 149px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border: none;
        background-color: transparent;
        top: 145px;
        height: 20px;
        cursor: pointer;
    }
    
    .toggleSenha1:hover {
        
        border-top-left-radius: 5px;
    
        border-bottom-left-radius: 5px;
      
        text-decoration: underline;
      
        color: #000000;
    
        background-color: #ff0d00;
      
    
      
        transition: 0.2s;
        
    }
    
    #senhaCadastroLogin2{
        border: 1px solid;
    }
    
    .toggleSenha2{
        position: absolute;
        left: 149px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border: none;
        background-color: transparent;
        top: 205px;
        height: 20px;
        cursor: pointer;
    }
    
    .toggleSenha2:hover {
        
        border-top-left-radius: 5px;
    
        border-bottom-left-radius: 5px;
      
        text-decoration: underline;
      
        color: #000000;
    
        background-color: #ff0d00;
      
    
      
        transition: 0.2s;
        
    }
    
    #senhaCadastroLogin3{
        border: 1px solid;
    }

}
